/*en este css estan los etilos que comparten las vistas nuevo-usuario y login*/
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

body{
    background-color: #ceedf1;
    font-family: 'Nunito', sans-serif;
}

h3{
    font-family: 'Love Ya Like A Sister', cursive;
    color: #301919;
}