<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/main.css}"/>
  <title>Fase 3</title>

</head>
<body>
<header>

  <div>

    <p>12:09</p>
    <div>
      <!-- estrellas -->
      <img src="" alt="">
      <img src="" alt="">
    </div>

  </div>

</header>

<main>

  <!-- caja principal -->
<section>
<!--preguntas -->
  <div>
  <div>
    <p></p>
    <a href="http://"></a>
    <a href="http://"></a>
    <a href="http://"></a>
    <a href="http://"></a>
  </div>
    <div>
      <img src="" alt="">
    </div>


  </div>
  <!--imagen provincia -->
  <div>
    <img src="">
  </div>
  
</section>

  <!-- imagen jefe-->
  <img src="" alt="">
</main>

</body>
</html>