<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/main.css}"/>
  <title>Fase 3</title>

</head>
<body>
<header>

  <div class="caja-header">

    <div class="caja-tiempo">
      <!-- tiempo para resolver -->
      <p th:text="${tiempoRestante}">12:09</p>
    </div>

    <div class="caja-estrellas">
      <!-- estrellas, no se si son vidas, funcion a resolver luego -->
      <img src="#" th:src="@{/src/main/webapp/resources/core/img/estrella.png}" alt="estrella">
      <img src="#" th:src="@{/src/main/webapp/resources/core/img/estrella.png}" alt="estrella">
    </div>

  </div>

</header>

<main>

  <!-- caja principal -->
<section class="caja-principal">
<!--preguntas -->
  <div class="caja-preguntaYopciones">

  <div class="caja-pregunta">
    <p th:text="${pregunta}">pregunta</p>
  </div>

    <div class="caja-opciones">
      <!--charlar como resolver el redireccionamiento de las opciones -->
    <a href="http://">opcion a</a>
    <a href="http://">opcion b</a>
    <a href="http://">opcion c</a>
    <a href="http://">opcion d</a>
    </div>


  </div>

  <!--imagen provincia -->
  <div class="caja-imagen-provicia">
    <img src="#" th:src="@{/src/main/webapp/resources/core/img/}" alt="imagen-provincia">
  </div>
  
</section>

  <div class="caja-jefe">
  <p>Derrotando al JEFE</p>
  <!-- imagen jefe, probar con o sin div-->
  <img src="#" th:src="@{/src/main/webapp/resources/core/img/}" alt="imagen-jefe">
  </div>

</main>

</body>
</html>