<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Taller Web I- HOME</title>

  <!-- Boostrap core css -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body class="fondo-home">



<main role="main" class="container ">

  <div class = "contenedor">
    <h1>Patria en Juego</h1>
    <p>recuperando nuestra historia</p>
    <div class = "container botones">
      <a href="http://registrarme">Continuar</a>
      <a href="http://login">Nueva Partida</a>
    </div>
    </div>


</main>
<!-- /.container -->

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>

</body>
</html>