<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patria en Juego--Home</title>
    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/inicio.css}"/>
    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

</head>

<body>
<header class="encabezado">
    <h3>Patria en Juego</h3>
    <img src="#" alt="pfilUser" th:src="@{/src/main/webapp/resources/core/img/fondo-home.png}">

</header>
<main class="container">

    <section class="columnas">

        <div class="caja-pr-mayor">
        <p class="titulo">LAS PROVINCIAS A CONQUISTAR : </p>
        <div class="caja-prov">

                <ul class="list-group">
                    <li class="list-group-item" class="nivel-pintado">Tierra del Fuego</li>
                    <li class="list-group-item" th:classappend="${nivelActual>= 2 ? 'nivel-pintado' : ''}">Santa Cruz</li>
                    <li class="list-group-item" th:classappend="${nivelActual>= 3 ? 'nivel-pintado' : ''}">Chubut</li>
                    <li class="list-group-item" th:classappend="${nivelActual>= 4 ? 'nivel-pintado' : ''}">Río Negro</li>
                    <li class="list-group-item" th:classappend="${nivelActual>= 5 ? 'nivel-pintado' : ''}">La pampa</li>
                    <li class="list-group-item" th:classappend="${nivelActual>= 6 ? 'nivel-pintado' : ''}">Neuquen</li>
                    <li class="list-group-item" th:classappend="${nivelActual>= 7 ? 'nivel-pintado' : ''}">Mendoza</li>
                    <li class="list-group-item" th:classappend="${nivelActual>= 8 ? 'nivel-pintado' : ''}">Buenos Aires</li>
                    <li class="list-group-item" th:classappend="${nivelActual>= 9 ? 'nivel-pintado' : ''}">CABA</li>
                    <li class="list-group-item" th:classappend="${nivelActual>= 10 ? 'nivel-pintado' : ''}">San Luis</li>
                    <li class="list-group-item" th:classappend="${nivelActual>= 11? 'nivel-pintado' : ''}">Córdoba</li>
                    <li class="list-group-item" th:classappend="${nivelActual>= 12 ? 'nivel-pintado' : ''}">San Juan</li>
                </ul>

            </div>
            <div>
                <ul class="list-group">
                    <li class="list-group-item" th:class="${nivelActual>= 13 ? 'nivel-pintado' : ''}">La Rioja</li>
                    <li class="list-group-item" th:class="${nivelActual>= 14 ? 'nivel-pintado' : ''}">Catamarca</li>
                    <li class="list-group-item" th:class="${nivelActual>= 15? 'nivel-pintado' : ''}">Tucuman</li>
                    <li class="list-group-item" th:class="${nivelActual>= 16 ? 'nivel-pintado' : ''}">Santiago del Estero

                    </li>
                    <li class="list-group-item" th:class="${nivelActual>= 17 ? 'nivel-pintado' : ''}">Santa Fe</li>
                    <li class="list-group-item" th:class="${nivelActual>= 18 ? 'nivel-pintado' : ''}">Entre Rios</li>
                    <li class="list-group-item" th:class="${nivelActual>= 19 ? 'nivel-pintado' : ''}">Corrientes</li>
                    <li class="list-group-item" th:class="${nivelActual>= 20 ? 'nivel-pintado' : ''}">Misiones</li>
                    <li class="list-group-item" th:class="${nivelActual>= 21 ? 'nivel-pintado' : ''}">Chaco</li>
                    <li class="list-group-item" th:class="${nivelActual>= 22 ? 'nivel-pintado' : ''}">Formosa</li>
                    <li class="list-group-item" th:class="${nivelActual>= 23 ? 'nivel-pintado' : ''}">Salta</li>
                    <li class="list-group-item" th:class="${nivelActual>= 24 ? 'nivel-pintado' : ''}">Jujuy</li>
                </ul>


        </div>
        </div>
        <div class="contenedor-accion-juego">

            <!-- USO th:text Para reemplazar el nombre
        de la prov con el nombre de la que se está
        jugando actualmente -->
            <p>Actualmente estás recuperando</p>
            <!-- th:text--FALTA LOG -->
            <p th:text="${provinciaActual}">Tierra del Fuego</p>
            <input type="button" value="¡Ir a la batalla!" class="boton-batalla">

            <div class="frase">
                <p>--Si los pueblos no se ilustran, si no se divulgan sus derechos, si cada hombre no conoce lo
                    que puede, vale y debe, nuevas ilusiones sucederán a las antiguas y será tal vez nuestra
                    suerte cambiar de tiranos sin destruir la tiranía--</p>
                <p>Mariano Moreno</p>

            </div>

        </div>
    </section>
</main>
<footer>
    <p> Unlam--DII T2023</p>
    <p>Gambaro,Moscovich,Pereyra,Zara</p>

</footer>
</body>
</html>